<!-- Nested Row within Card Body -->
<div class="row" style="padding: 50px;">
    <div class="col-lg-6 d-none d-lg-block bg-login-image">
    </div>
    <div class="col-lg-6">
        <div class="p-5">
            <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">
                    Welcome Admin!
                </h1>
            </div>
            <div class="form-group">
                <label id="lblErrorMessage" class="" style="color:Red;"></label>
            </div>
            <div class="form-group">
                <input type="text" autocomplete="off" class="form-control form-control-user" id="txtUsername" maxlength="15" placeholder="Enter Username" autofocus />
            </div>
            <div class="form-group">
                <input type="password" autocomplete="off" class="form-control form-control-user" id="txtPassword" maxlength="15" placeholder="Password" />
            </div>
            <div class="form-group">
                <button type="button" id="btnSubmit" class="btn btn-primary btn-user btn-block" onclick="return btnLoginSubmitClick()">
                    Submit
                </button>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">

        $('#txtUsername,#txtPassword').on('keypress', function (e) {
            var ingnore_key_codes = [34, 39];
            if ($.inArray(e.which, ingnore_key_codes) >= 0) {
                e.preventDefault();
            }
        });

        function btnLoginSubmitClick() {

            $("#lblErrorMessage").val("");
            $("#lblErrorMessage").html("")

            if ($.trim($("#txtUsername").val()) == '') {

                $("#lblErrorMessage").val("Please fill out the username.");
                $("#lblErrorMessage").html("Please fill out the username.")

                return false;
            }

            else if ($.trim($("#txtPassword").val()) == '') {

                $("#lblErrorMessage").val("Please fill out the password.");
                $("#lblErrorMessage").html("Please fill out the password.")

                return false;
            }



            var CheckLoginStatus = '@Url.Action("CheckLoginStatus", "Login")';
            var User_Name = $('#txtUsername').val();
            var User_Password = $('#txtPassword').val();

            $.ajax(
                {
                    type: 'GET',
                    url: CheckLoginStatus,
                    data: { "User_Name": User_Name, "User_Password": User_Password },
                    success: function (result) {
                        //console.log(result);

                            if (result.ResponseSuccess == true) {
                                window.location.href = '/Home/Index';
                            }
                            else {

                                $("#lblErrorMessage").val(result.ResponseMessage);
                                $("#lblErrorMessage").html(result.ResponseMessage);
                            }
                    },
                });


        }

</script>