<div class="row">
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">
                Change Password
            </h1>
        </div>
        <!-- DataTales Example -->
        <div class="card shadow mb-4 changepwd-Width-Layout" style="height: auto; overflow: auto;">
            <div class="card-body">
                <div class="form-group">
                    <label id="Label1" class="">Current Password</label>
                    <input type="password" autocomplete="off" class="form-control form-control-user" id="txtCurrentPass" maxlength="15" placeholder="" autofocus />


                </div>
                <div class="form-group">
                    <label id="Label2" class="">New Password</label>
                    <input type="password" autocomplete="off" class="form-control form-control-user" id="txtNewPass" maxlength="15" placeholder=""/>
                </div>
                <div class="form-group">
                    <label id="Label3" class="">Confirm New Password</label>
                    <input type="password" autocomplete="off" class="form-control form-control-user" id="txtNewPassConfirm" maxlength="15" placeholder="" />
                </div>
                <button type="button" id="btnSubmit" class="buttonSubmit" onclick="return btnChangePasswordSubmitClick()">
                    Submit
                </button>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</div>

<div class="modal fade" id="InfoModal" runat="server" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Info Box
                </h5>
            </div>
            <div class="modal-body">
                <asp:Label runat="server" ID="lblInfo" Text="" Style="font-size: 16px; padding-left: 0px;"></asp:Label>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    $('#txtCurrentPass,#txtNewPass,#txtNewPassConfirm').on('keypress', function (e) {
        var ingnore_key_codes = [34, 39];
        if ($.inArray(e.which, ingnore_key_codes) >= 0) {
            e.preventDefault();
        }
    });

    function showModal() {
        $("#InfoModal").modal('show');
    }

    function btnChangePasswordSubmitClick() {

        if ($.trim($("#txtCurrentPass").val()) == '') {

            showModal();
            $("#lblInfo").val("Please fill out the current password.");
            $("#lblInfo").html("Please fill out the current password.")

            return false;
        }

        else if ($.trim($("#txtNewPass").val()) == '') {

            showModal();
            $("#lblInfo").val("Please fill out the new password.");
            $("#lblInfo").html("Please fill out the new password.")

            return false;
        }

        else if ($.trim($("#txtNewPassConfirm").val()) == '') {

            showModal();
            $("#lblInfo").val("Please fill out the confirm new password.");
            $("#lblInfo").html("Please fill out the confirm new password.")

            return false;
        }

        else if ($.trim($("#txtCurrentPass").val()) == $.trim($("#txtNewPass").val())) {

            showModal();
            $("#lblInfo").val("Your current and new password should be different.");
            $("#lblInfo").html("Your current and new password should be different.")

            return false;
        }

        else if ($.trim($("#txtNewPassConfirm").val()) != $.trim($("#txtNewPass").val())) {

            showModal();
            $("#lblInfo").val("Your new password and confirm new password should be same.");
            $("#lblInfo").html("Your new password and confirm new password should be same.")

            return false;
        }

        var _UpdatePasswordURL = '@Url.Action("UpdatePassword", "AdminConsole")';
        var Current_Password = $('#txtCurrentPass').val();
        var New_Password = $('#txtNewPass').val();

            $.ajax(
                {
                    type: 'POST',
                    url: _UpdatePasswordURL,
                    data: { "Current_Password": Current_Password, "New_Password": New_Password },
                    success: function (result) {
                        //console.log(result);

                            if (result.ResponseSuccess == true) {

                                showModal();
                                $("#lblInfo").val(result.ResponseMessage);
                                $("#lblInfo").html(result.ResponseMessage);

                                $('#txtCurrentPass').val('');
                                $('#txtNewPass').val('');
                                $('#txtNewPassConfirm').val('');

                            }
                            else {

                                showModal();
                                $("#lblInfo").val(result.ResponseMessage);
                                $("#lblInfo").html(result.ResponseMessage)
                            }
                    },
                });




    }

</script>
