<!-- ======= Breadcrumbs ======= -->
<section class="breadcrumbs breadcrumbs2 about">
    <div class="boxedeb">
        <div class="container page-block-small">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h2>
                    About Us
                </h2>
                <span class="line">
                </span>
                <div class="rightText">
                    <a href="@Url.Action("Index", "Home")" title="Home">Home</a>
                    / About Us
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Breadcrumbs -->
<section class="inner-page" style="padding: 0px 0 !important;">
    <div class="container">
        <!-- ======= About Section ======= -->
        <section id="about" class="about section-bg">
            <div class="container" data-aos="fade-up">
                <div class="section-title">
                </div>
                <div class="row about-padding">
                    <div class="col-lg-10 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
                        <h3>About Vtrade</h3>
                        <p style="text-align: justify !important;line-height: 30px;padding-left: 20px;font-size: 18px;">

                            At Vtrade we delight and adhere to a philosophy “to access customer's hearts through their sense of taste," and revolves around our meticulous attention to detail. We invest a significant amount of effort in fostering our relationships with our clients. We at VTrade LLC have been successful in bringing the flavours of food and beverages to millions of households around the world.

                        </p>
                        <p style="text-align: justify !important;line-height: 30px;padding-left: 20px;font-size: 18px;">

                            We're quick, dynamic, resilient, versatile, and agile. There's no bureaucratic hierarchy to step over, only a committed team of individuals who are aware of and focused on your requirements.

                        </p>

                    </div>
                </div>
                <br />

                <div class="row about-padding">

                    <div class="col-lg-10 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
                        <h3>More About Vtrade</h3>



                        <section class="tabs-wrapper">
                            <div class="tabs-container">
                                <div class="tabs-block">
                                    <div class="tabs">
                                        <input type="radio" name="tabs" id="tab1" checked="checked" />
                                        <label for="tab1"><span class="material-icons">Who</span></label>
                                        <div class="tab">

                                            <p>Vtrade Goods Wholesaler LLC is one of the top importers, exporters, and distributors of high-quality food and non-food products. The extraordinary combination of premium culinary products and value-added services that we at Vtrade are proud to provide to our esteemed clientele is something we take great pride in.</p>
                                            <p>We are a global business in the FMCG (Food & Non-food) products like Beverages, Confectionary, Grocery, Snacks, Coffee, Milk powder, Pet food, Cosmetics, Baby care range, household items, and others. We provide the best selection of premium products, including dry, chilled, and frozen options, at the most competitive pricing to meet the demands of the FMCG service, retail, and wholesale markets.</p>
                                            <p>We intend to provide our clients with personalised consolidation solutions and FMCG merchandise on a global scale.</p>
                                            <p>We also specialise in creating tailored labels based on the client’s request.</p>
                                        </div>

                                        <input type="radio" name="tabs" id="tab2" />
                                        <label for="tab2"><span class="material-icons">Why</span></label>
                                        <div class="tab">

                                            <p>Vtrade is renowned for its extraordinary quality standards, diversity of brands, innovative supply chain, and highest level of customer service. We exclusively procure top-quality products that add more worth and perfection to your creations, assisting you in solidifying a long-lasting relationship with your customers.</p>
                                            <p>At Vtrade, we go the extra mile to provide competitive consolidation solutions based on the needs of the client and assure that every client receives the very best of our services. In partnership with leading brand partners, we make a concerted effort to create cutting-edge and user-friendly solutions.</p>
                                        </div>

                                        <input type="radio" name="tabs" id="tab3" />
                                        <label for="tab3"><span class="material-icons">Where</span></label>
                                        <div class="tab">

                                            <p>We have our visible presence in Middle Eastern, Asian, African, and Oceanic countries. Currently, we operate from Dubai but we're seeking to expand to other nations too.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>

                    </div>
                </div>

                <br />
                <div class="row about-padding">
                    <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100" style="width:100%;">
                        <h3>Our Strengths</h3>

                        <ul>
                            <li>
                                <i class="bx"></i>
                                <div>
                                    <p>Innovative solutions.</p>
                                </div>
                            </li>
                            <li>
                                <i class="bx"></i>
                                <div>
                                    <p>Exemplary effectiveness.</p>
                                </div>
                            </li>

                            <li>
                                <i class="bx"></i>
                                <div>
                                    <p>Invariably keen and available to assist.</p>
                                </div>
                            </li>
                            <li>
                                <i class="bx"></i>
                                <div>
                                    <p>Customer-oriented. Dedicated and responsible personnel.</p>
                                </div>
                            </li>
                            <li>
                                <i class="bx"></i>
                                <div>
                                    <p>Pristine quality products.</p>
                                </div>
                            </li>
                            <li>
                                <i class="bx"></i>
                                <div>
                                    <p>Dynamic response time.</p>
                                </div>
                            </li>
                            <li>
                                <i class="bx"></i>
                                <div>
                                    <p>Profound individual service.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="row about-padding">

                    <div class="col-lg-10 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
                        <h3>Our Core Values</h3>
                        <p style="text-align: justify !important;line-height: 30px;padding-left: 20px;font-size: 18px;">

                            <b>1. Integrity:</b> We place a high value on qualitative standards. The core of our ideology is that we ought to operate ourselves according to the greatest ethical standards. We are honest and upfront, and we appreciate and act fairly toward everyone.

                        </p>
                        <p style="text-align: justify !important;line-height: 30px;padding-left: 20px;font-size: 18px;">

                            <b>2.	Clients’ Satisfaction:</b>
                            By being sincere with the promises we make and the connections we establish, we are dedicated to creating fantastic client experiences.
                        </p>

                        <p style="text-align: justify !important;line-height: 30px;padding-left: 20px;font-size: 18px;">

                            <b>3.	Quality:</b>
                            The calibre of our products and services will reveal how well we comprehend the value of quality and how it is addressed, resulting in the upholding of the highest standards.
                        </p>

                        <p style="text-align: justify !important;line-height: 30px;padding-left: 20px;font-size: 18px;">

                            <b>4.	Explicitly Open-Minded:</b>
                            Effective business performance relies on open communication. We'll always let you know what's on our minds and we expect the same from you. No secrets.
                        </p>

                        <p style="text-align: justify !important;line-height: 30px;padding-left: 20px;font-size: 18px;">

                            <b>5.	Accountability:</b>
                            More than just holding individuals and groups accountable for their performance results is necessary to create an accountability culture. We develop trust both internally and publicly by taking responsibility for our actions (and inactions).
                        </p>

                        <p style="text-align: justify !important;line-height: 30px;padding-left: 20px;font-size: 18px;">

                            <b>6.	Fairness:</b>
                            Treating each individual with the respect and civility that we all expect and deserve.
                        </p>

                    </div>
                </div>

                <br />
            </div>
        </section>
        <!-- End About Section -->
    </div>
</section>
