<!-- ======= Breadcrumbs ======= -->
<section class="breadcrumbs breadcrumbs2 brand">
    <div class="boxedeb">
        <div class="container page-block-small">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h2>
                    Our Brands
                </h2>
                <span class="line">
                </span>
                <div class="rightText">
                    <a href="@Url.Action("Index", "Home")" title="Home">Home</a>
                    / Our Brands
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Breadcrumbs -->
<section class="inner-page" style="padding: 0px 0 !important;">
    <div class="container">
        <!-- ======= Portfolio Section ======= -->
        <section id="portfolio" class="Brand">
            <div id="brand_loader" class="container" data-aos="fade-up" style="display: none;height: 150px;">
                <div class="progressloader" style="">
                </div>
            </div>
            <div class="container" data-aos="fade-up" id="divTable_BrandItem">
                <div id="innerHtml_BrandItem"></div>
            </div>
        </section>
        <!-- End Portfolio Section -->
    </div>
</section>

<script type="text/javascript">

    $(document).ready(function () {

        $("#divTable_BrandItem").hide();
        $('#brand_loader').show();
        
        setTimeout(function () {
            
            $("#innerHtml_BrandItem").load("/Brand/GetBrandItems?pageno=1");
            $('#brand_loader').hide();
            $("#divTable_BrandItem").show();

        }, 2000);
    });

    function btnPrevActionClick(PageNO) {

        var newPageNo = parseInt(PageNO) - parseInt(1);

        $("#divTable_BrandItem").hide();
        $('#brand_loader').show();

        setTimeout(function () {
            
            $("#innerHtml_BrandItem").load("/Brand/GetBrandItems?pageno=" + parseInt(newPageNo));
            $('#brand_loader').hide();
            $("#divTable_BrandItem").show();

        }, 2000);
    }

    function btnNextActionClick(PageNO) {

        var newPageNo = parseInt(PageNO) + parseInt(1);

        $("#divTable_BrandItem").hide();
        $('#brand_loader').show();

        setTimeout(function () {

            $("#innerHtml_BrandItem").load("/Brand/GetBrandItems?pageno=" + parseInt(newPageNo));
            $('#brand_loader').hide();
            $("#divTable_BrandItem").show();

        }, 2000);
    }
</script>