<!-- ======= Breadcrumbs ======= -->
<section class="breadcrumbs breadcrumbs2 brand">
    <div class="boxedeb">
        <div class="container page-block-small">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h2>
                    Our Brands
                </h2>
                <span class="line">
                </span>
                <div class="rightText">
                    <a href="@Url.Action("Index", "Home")" title="Home">Home</a>
                    / Our Brands
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Breadcrumbs -->
<section class="inner-page" style="padding: 0px 0 !important;">
    <div class="container">
        <!-- ======= Portfolio Section ======= -->
        <section id="portfolio" class="Brand">
            <div class="container" data-aos="fade-up">
                <div class="col-lg-12  col-sm-12 col-xs-12" style="text-align: left; padding-left: 20px; padding-top: 65px; padding-bottom: 65px;">
                    <label id="lblTopPagination" class="lblPagination"></label>&nbsp;&nbsp;
                    <button type="button" id="btnPreviousTop" class="buttonSubmit" style="display:none;" onclick="btnPrevActionClick();">
                        < &nbsp;&nbsp; Previous
                    </button>
                    <button type="button" id="btnNextTop" class="buttonSubmit" style="display:none;" onclick="btnNextActionClick();">
                        Next &nbsp;&nbsp;>
                    </button>
                </div>
                <div class="row" data-aos="fade-up" data-aos-delay="200" id="divTable_BrandItem">
                </div>
                <div id="brand_loader" class="progressloader" style="display:none;">
                </div>
            </div>
        </section>
        <!-- End Portfolio Section -->
    </div>
</section>

<script type="text/javascript">

    $(document).ready(function () {

        $("#divTable_BrandItem").hide();
        $('#brand_loader').show();

        setTimeout(function () {

            $("#divTable_BrandItem").load("/Brand/GetBrandItems?pageno=1");
            $('#brand_loader').hide();
            $("#divTable_BrandItem").show();

        }, 2000);
    });

</script>