<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>

    @{
        string CurrentControllerName = Convert.ToString(HttpContext.Current.Request.RequestContext.RouteData.Values["Controller"]);
        switch (CurrentControllerName.ToUpper())
        {
            case "ADMINCONSOLE":

                <div id="Error_loader" class="errorloader" style="display:block;">
                </div>
                <hgroup>
                    <h1>Error.</h1>
                    <h2>An error occurred while processing your request.</h2>
                </hgroup>
                <script type="text/javascript">
                                setTimeout(function () {
                                    window.location.href = '@Url.Action("Index", "AdminConsole")';
                                }, 15000);
                </script>

                break;
            default:

                <hgroup>
                    <h1>Error.</h1>
                    <h2>An error occurred while processing your request.</h2>
                </hgroup>

                break;
        }
    }

</body>
</html>